--- lang/perl5/files/install_threads.tmpl.orig	2005-08-12 19:59:03 UTC
+++ lang/perl5/files/install_threads.tmpl
@@ -3,8 +3,6 @@
 # Require the presence of a pkgsrc Perl installation that supports threads
 # during the PRE-INSTALL stage, otherwise we bail out.
 
-PERL5="@PERL5@"
-
 case ${STAGE} in
 PRE-INSTALL)
 	if [ ! -x "${PERL5}" ]; then
